.sidebar-wrap {
  z-index: 5;
  padding: 12px;
  background-color: #fff;
  height: 100%;
  width: 55%;
  right: -55%;
  top: 0;
  position: fixed;
  transition: 0.5s ease;

  &.open {
    right: 0;
    transition: 0.5s ease;
    
  }
  &__ul {
    display: block;
    width: 100%;
    &__X {
      cursor: pointer;
    }
    & p {
      cursor: pointer;
      &:active {
        background-color: #279eff;
      }
      text-align: left;
      margin: 30px;
      font-size: 18px;
    }
      
    }
  }

