.email {
  position: relative;
  height: 100vh;
  width: 100%;
  background: ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  &__email-title {
    color: black;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: 660;
  }
  &__Backbtn {    
    position: absolute;
    width: 32px;
    height: 32px;
    left: 5%;
    transform: translate(-50%, -50%);
    top: 22px;
    cursor: pointer;
    img {
        width: 115%;
        height: 115%;
    }
}
  &__email-input {
    &__email-group {
      margin-top: 15px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      gap: 10px;
      input {
        flex: 1; // 텍스트박스가 나머지 공간을 차지하도록 설정
        padding: 5px;
        width: 100%; // 텍스트박스 너비 100%로 설정
      }
      button {
        background-color: #c5c5c5;
        padding: 5px 10px;
        width: 70px; // 버튼 너비 조절
        transition: background-color 0.3s;
        &:active {
          background-color: #279eff;
        }
      }
    }
  }
  &__email-btn {
    background-color: #c5c5c5;
    padding: 5px 10px;
    width: 70px; // 버튼 너비 조절
    transition: background-color 0 &__3s;
    &:active {
      background-color: #279eff;
    }
    margin-top: 20px;
  }
}
