.email {
  position: relative;
  height: 140vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &__Logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 100px;
    cursor: pointer;
    img {
      width: 150%;
      height: 150%;
    }
  }
  &__email-title {
    color: #279eff;
    position: absolute;
    height: 27px;
    left: 50%;
    transform: translate(-50%, -80%);
    top: 154px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
  }
  &__email-input {
    &__email-group {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 1350%);
      align-items: center;

    }
  }
  &__email-now{
    position: absolute;
    left: 50%;
    
    transform: translate(-235%,1500%);
  }
  &__email-btnnn{
    position: absolute;
    left: 50%;
    transform: translate(180%, 900%);
    background-color: #c5c5c5;
    width: 70px;
    height: 30px;
    &:active {
      background-color: #279eff;
    }
}
&__email-new{
  position: absolute;
  height: 27px;
  left: 50%;
  transform: translate(-215%,1200%);
}
  &__email-input2 {
    &__email-group {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 1585%);
      align-items: center;
      }
    }
  &__email-btnn{
      position: absolute;
      left: 50%;
      transform: translate(180%, 1060%);
      background-color: #c5c5c5;
      width: 70px;
      height: 30px;
      &:active {
        background-color: #279eff;
      }
  }
  &__Backbtn {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 5%;
    transform: translate(-50%, -50%);
    top: 22px;
    cursor: pointer;
    img {
      width: 115%;
      height: 115%;
    }
  }
  &__email-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 1700%);
    background-color: #c5c5c5;
    width: 70px;
    height: 30px;
    &:active {
      background-color: #279eff;
    }
  }
}
