.replys {
  position: relative;
  height: 100vh;
  width: 100%;
  background: ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  &__Logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 100px;
    cursor: pointer;
    img {
        width: 150%;
        height: 150%;
    } 
  }
  &__reply-title {
    color: #279EFF;
    position: absolute;
    height: 27px;
    left: 50%;
    transform: translate(-50%, -80%);
    top: 154px;
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
  }
  &__Backbtn {    
    position: absolute;
    width: 32px;
    height: 32px;
    left: 5%;
    transform: translate(-50%, -50%);
    top: 22px;
    cursor: pointer;
    img {
        width: 115%;
        height: 115%;
    }
}
  &__reply-list {
    left: 50%;
    transform: translate(-0%, 750%);
    border: 2px solid #c5c5c5;
    border-radius: 10px;
    cursor: pointer;
    list-style: none;
  }
  &__reply-li {
    border-bottom: 2px solid #c5c5c5;
  }

}
