.replys {
  position: relative;
  height: 100vh;
  width: 100%;
  background: ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  &__reply-title {
    color: black;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: 660;
  }
  &__Backbtn {    
    position: absolute;
    width: 32px;
    height: 32px;
    left: 5%;
    transform: translate(-50%, -50%);
    top: 22px;
    cursor: pointer;
    img {
        width: 115%;
        height: 115%;
    }
}
  &__reply-list {
    border: 2px solid #c5c5c5;
    border-radius: 10px;
    cursor: pointer;
    list-style: none;
  }
  &__reply-li {
    border-bottom: 2px solid #c5c5c5;
  }
  &__reply-btn {
    background-color: #c5c5c5;
    padding: 5px 10px;
    width: 70px; // 버튼 너비 조절
    transition: background-color 0 &__3s;
    &:active {
      background-color: #279eff;
    }
    margin-top: 20px;
  }
}
