.articleList {
  position: relative;
  height: 160vh;
  width: 100%;
  background: #ffffff;
  &__btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 400%);
    background-color: #c5c5c5;
    width: 70px;
    height: 30px;
    &:active {
      background-color: #279eff;
    }
  }
  &__gray-box-3 {
    position: absolute;
    width: 350px;
    height: 400px;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 230px;
    border: 2px solid rgba(197, 197, 197, 0.980392);
    border-radius: 15px;
   
    &__accset {
      margin-top: 200px;
      text-align: center;
      font-size: 22px;
    }
    
    &__accs {
      display: flex;
      margin-left: 60px;
      margin-top: 40px;
      font-size: 22px;
    }
    &__accse1 {
      position: absolute;
      width: 80px;
      height: 30px;
      left: 50%;
      transform: translate(80%, 240%);
      top: 345px;
      cursor: pointer;
      font-style: normal;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      border: 2px solid #000000;
      border-radius: 15px;
      &:active {
        background-color: #279eff;
      }
    }
    &__accse2 {
      position: absolute;
      width: 80px;
      height: 30px;
      left: 50%;
      transform: translate(80%, 300%);
      top: 380px;
      cursor: pointer;
      font-style: normal;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      border: 2px solid #000000;
      border-radius: 15px;
      &:active {
        background-color: #279eff;
      }
    }
    &__accse3 {
      position: absolute;
      width: 80px;
      height: 30px;
      left: 50%;
      transform: translate(80%, 360%);
      top: 415px;
      cursor: pointer;
      font-style: normal;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      border: 2px solid #000000;
      border-radius: 15px;
      &:active {
        background-color: #279eff;
      }
    }
    p {

      font-weight: bold;
      text-align: center;
      margin-top: 40px;
      font-size: 22px;
    }
  }
}

.sideMenuBtn {
  position: absolute;
  top: 0px;
  right: 8px;
}

.smallLogo {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 31px;
  height: 31px;
}

.listBox {
  // background: pink;
  padding-top: 60px;
  .boardName {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
  }
  .ggArea {
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
  }
  .articleSearch {
    position: absolute;
    right: 70px;
  }
  .searchBtn {
    // transform: translate(-50%, 2500%);
    background-color: #c5c5c5;
    &:active {
      background-color: #279eff;
    }
  }
  .searchForm {
    display: flex;
    border: 1px solid #c5c5c5;
    width: 240px;
  }
  .writeBtn {
    position: absolute;
    right: 8px;
  }
  .boardArticleList {
    padding-top: 50px;
    &__ul {
      &__li {
        border-bottom: 2px solid #c5c5c5;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        &__comment {
          font-size: 11px;
          padding: 3px;
        }
        &__like {
          font-size: 11px;
          padding: 3px;
        }
        &__nickname {
          font-size: 11px;
          padding: 3px;
        }
        &__date {
          font-size: 11px;
          padding: 3px;
        }
      }
    }
  }
}