/* 2 */

.iFrame {
  position: relative;
  width: 390px;
  height: 844px;
  background: #ffffff;
  /* Rectangle 8 */
  .iFrame__Rectangle8 {
    box-sizing: border-box;
    position: absolute;
    width: 375px;
    height: 212px;
    left: 7px;
    top: 308px;
    border: 2px solid rgba(197, 197, 197, 0.980392);
    border-radius: 15px;
  }
  /* Login */
  .iFrame__Login {
    position: absolute;
    width: 86px;
    height: 27px;
    left: 154px;
    top: 150px;
    font-family: "NanumGothic";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #279eff;
  }
  /* ID : */
  .iFrame__ID {
    position: absolute;
    width: 176px;
    height: 27px;
    left: 61px;
    top: 360px;
    font-family: "NanumGothic";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
  }
  /* PW : */
  .iFrame__PW {
    position: absolute;
    width: 176px;
    height: 27px;
    left: 61px;
    top: 414px;
    font-family: "NanumGothic";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
  }
  /* Rectangle 11 */
  .iFrame__Rectangle11 {
    box-sizing: border-box;
    position: absolute;
    width: 99px;
    height: 36px;
    left: 82px;
    top: 466px;
    border: 2px solid #000000;
    border-radius: 15px;
  }
  /* Login */
  .iFrame__Login2 {
    position: absolute;
    width: 69px;
    height: 22px;
    left: 100px;
    top: 471px;
    font-family: "NanumGothic";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
  }
  /* Rectangle 30 */
  .iFrame__Rectangle30 {
    box-sizing: border-box;
    position: absolute;
    width: 110px;
    height: 36px;
    left: 202px;
    top: 466px;
    border: 2px solid #000000;
    border-radius: 15px;
  }
  /* SignUp */
  .iFrame__SignUp {
    position: absolute;
    width: 81px;
    height: 22px;
    left: 217px;
    top: 471px;
    font-family: "NanumGothic";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
  }
  /* Rectangle 29 */
  .iFrame__Rectangle29 {
    position: absolute;
    width: 622px;
    height: 215px;
    left: 112px;
    top: 223px;
    background: #d9d9d9;
  }
  /* 경기 남부 */
  .iFrame__GS25 {
    position: absolute;
    width: 86px;
    height: 31px;
    left: 153px;
    top: 232px;
    font-family: "NanumGothic";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
  /* Rectangle 11 */
  .iFrame__Rectangle11 {
    box-sizing: border-box;
    position: absolute;
    width: 126px;
    height: 43px;
    left: 132px;
    top: 221px;
    border: 2px solid #279eff;
    border-radius: 15px;
  }
}
