.leave {
  position: relative;
  height: 100vh;
  width: 100%;
  background: ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  &__leave-title {
    color: black;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: 660;
  }
  &__Backbtn {    
    position: absolute;
    width: 32px;
    height: 32px;
    left: 5%;
    transform: translate(-50%, -50%);
    top: 22px;
    cursor: pointer;
    img {
        width: 115%;
        height: 115%;
    }
}
  &__leave-menual {
    text-align: left;
    font-weight: bold;
  }
  &__readbox {
    background-color: #c5c5c5;
    margin-bottom: 10px;
    p {
      text-align: left;
    }
    &__leave-1 {
      text-align: left;
      color: red;
      font-weight: bold;
    }
    &__leave-2 {
      text-align: left;
      color: red;
      font-weight: bold;
    }
  }
  &__content-3 {
    text-align: left;
    margin-bottom: 10px;
  }
  &__leave-box {
    &:checked {
      background-color: #279eff;
    }
  }
  &__leave-check {
    margin-top: 15px;
  }
  &__leave-btn {
    background-color: #c5c5c5;
    padding: 5px 10px;
    width: 70px; // 버튼 너비 조절
    margin-top: 10px;
    transition: background-color 0 &__3s;
    &:active {
      background-color: #279eff;
    }
  }
}
