.leave {
  position: relative;
  height: 140vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  &__Logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 100px;
    cursor: pointer;
    img {
      width: 150%;
      height: 150%;
    }
  }
  &__leave-title {
    color: #279eff;
    position: absolute;
    height: 27px;
    left: 50%;
    transform: translate(-50%, -80%);
    top: 154px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
  }
  &__Backbtn {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 5%;
    transform: translate(-50%, -50%);
    top: 22px;
    cursor: pointer;
    img {
      width: 115%;
      height: 115%;
    }
  }
  &__leave-menual {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-46%,1200%);
    text-align: left;
    font-weight: bold;
  }
  &__readbox {
    position: absolute;
    width: 400px;
    left: 50%;
    transform: translate(-50%, 100%);
    background-color: #c5c5c5;
    p {
      text-align: left;
    }
    &__leave-1 {
      text-align: left;
      color: red;
      font-weight: bold;
    }
    &__leave-2 {
      text-align: left;
      color: red;
      font-weight: bold;
    }
  }
  &__content-3 {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-48%, 1020%);
    text-align: left;
  }
  &__leave-box {
    position: absolute;

    &:checked {
      background-color: #279eff;
    }
  }
  &__leave-check {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 3600%);
  }
  &__leave-btn {
    position: absolute;
    transform: translate(-50%, 2500%);
    background-color: #c5c5c5;
    padding: 5px 10px;
    width: 70px;
    &:active {
      background-color: #279eff;
    }
  }
}
