.Langset {
  position: relative;
  height: 100vh;
  width: 100%;
  background: ffffff;

  &__Logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 100px;
    cursor: pointer;
    img {
      width: 150%;
      height: 150%;
    }
  }
  &__InternalFrame {
    box-sizing: border-box;
    position: absolute;
    width: 370px;
    height: 218px;
    left: 50%;
    transform: translate(-50%, -5%);
    top: 284px;
    border: 2px solid rgba(197, 197, 197, 0.980392);
    border-radius: 15px;
  }

  &__Langsetbanner {
    color: #279eff;
    position: absolute;
    height: 27px;
    left: 50%;
    transform: translate(-50%, -80%);
    top: 160px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
  }

  &__Korean {
    position: absolute;
    width: 300px;
    height: 20px;
    left: 50%;
    transform: translate(-50%, -150%);
    top: 345px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
  }

  &__Chinese {
    position: absolute;
    width: 300px;
    height: 20px;
    left: 50%;
    transform: translate(-50%, -150%);
    top: 380px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
  }

  &__Japanese {
    position: absolute;
    width: 300px;
    height: 20px;
    left: 50%;
    transform: translate(-50%, -150%);
    top: 415px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
  }

  &__English {
    position: absolute;
    width: 300px;
    height: 20px;
    left: 50%;
    transform: translate(-50%, -150%);
    top: 450px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
  }

  &__K-Langsetbtn {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 50%;
    transform: translate(80%, -125%);
    top: 345px;
    cursor: pointer;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 15px;
    &:active {
      background-color: #279eff;
    }
  }
  &__C-Langsetbtn {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 50%;
    transform: translate(80%, -125%);
    top: 380px;
    cursor: pointer;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 15px;
    &:active {
      background-color: #279eff;
    }
  }
  &__J-Langsetbtn {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 50%;
    transform: translate(80%, -125%);
    top: 415px;
    cursor: pointer;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 15px;
    &:active {
      background-color: #279eff;
    }
  }
  &__E-Langsetbtn {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 50%;
    transform: translate(80%, -125%);
    top: 450px;
    cursor: pointer;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 15px;
    &:active {
      background-color: #279eff;
    }
  }

  &__Backbtn {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 5%;
    transform: translate(-50%, -50%);
    top: 22px;
    cursor: pointer;
    img {
      width: 115%;
      height: 115%;
    }
  }
}
