.settingspage {
  position: relative;
  height: 140vh;
  width: 100%;

  &__settings-title {
    color: #279eff;
    position: absolute;
    height: 27px;
    left: 50%;
    transform: translate(-50%, -80%);
    top: 143px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
  }

  &__gray-box-1 {
    position: absolute;
    width: 350px;
    height: 86px;
    left: 50%;
    transform: translate(-50%, -10%);
    top: 203px;
    border: 2px solid #c5c5c5;
    border-radius: 15px;

    &__userinfo {
      //내 정보
      font-weight: 600;
    }

    p {
      text-align: left;
      margin: 9px;
      font-size: 18px;
      margin-left: 100px;
    }
  }

  &__gray-box-2 {
    position: absolute;
    width: 350px;
    height: 161px;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 291px;

    border: 2px solid rgba(197, 197, 197, 0.980392);
    border-radius: 15px;

    &__myinfo {
      //내 정보
      font-style: normal;
      font-weight: 600;
      text-align: left;
      margin: 15px;
      font-size: 18px;
    }

    p {
      cursor: pointer;
      &:active {
        background-color: #279eff;
      }
      text-align: left;
      margin: 15px;
      font-size: 18px;
    }
  }

  &__gray-box-3 {
    position: absolute;
    width: 350px;
    height: 271.6px;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 461px;

    border: 2px solid rgba(197, 197, 197, 0.980392);
    border-radius: 15px;

    &__accset {
      //계정 설정
      font-style: normal;
      font-weight: 600;
      text-align: left;
      margin-left: 15px;
      margin-top: 17px;
      font-size: 18px;
    }

    p {
      cursor: pointer;
      &:active {
        background-color: #279eff;
      }

      text-align: left;
      margin-left: 15px;
      margin-top: 17px;
      font-size: 18px;
    }
  }

  &__gray-box-4 {
    box-sizing: border-box;
    position: absolute;
    width: 350px;
    height: 200px;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 743px;

    border: 2px solid rgba(197, 197, 197, 0.980392);
    border-radius: 15px;

    &__sysset {
      /* 시스템 설정 */
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
    }

    p {
      text-align: left;
      margin: 15px;
      font-size: 18px;
    }

    button {
      text-align: left;
      display: flex;
      font-size: 18px;
      margin: 10px;
    }

    &__dark-wrap {
      display: flex;
      gap: 150px;

      &__ToggleBtn {
        width: 60px;
        height: 30px;
        background-color: white;
        border: 3px solid #c5c5c5;
        /* 테두리 스타일 추가 */
        position: relative;
        border-radius: 15px;

        &::before {
          content: "";
          position: absolute;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: #279eff;
          /* 토글 모양의 초기 색상 설정 */
          left: 4px;
          top: 1px;
          transition: transform 0.2s ease-in-out;
        }

        /* 활성화 상태에서의 토글 모양 및 배경색 변경 */
        &.active::before {
          background-color: white;
          /* 토글 모양의 배경색 변경 */
          transform: translateX(20px);
        }
      }
    }

    &__cache-wrap {
      display: flex;
      gap: 150px;

      &__cachedel {
        background-color: #c5c5c5;
        padding: 5px 10px;
        width: 60px;
        transition: background-color 0.3s;

        &:active {
          background-color: #279eff;
        }
      }
    }
  }

  .profile {
    margin-top: -14px;
    cursor: pointer;
  }
  &__Backbtn {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 5%;
    transform: translate(-50%, -50%);
    top: 22px;
    cursor: pointer;
    img {
      width: 115%;
      height: 115%;
    }
  }
}
